:root {
   --bg-color: #FAFAFA;
   --bg-color-dark: #33323D;
   --bg-input: #EAEAEB;
   --txt-color: #33323D;
   --txt-color-white: #FFFF;
   --cyan: #5FB4A2;
   --cyan-500: #549e8e;
   --dark-blue:#203A4C;
   --dark-blue-500:#1c3142;
}